<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인하세요.</title>
    <link rel="stylesheet" href="../public/stylesheets/log.css">
</head>
<body>
    <section class="login-form">
      <h1>로그인</h1>
      <from action="">
        <div class="int-area">
          <input type="text" name="id" id="id"
          autocomplete="off" required>
          <label for="id">아이디</label>
        </div>
        <div class="int-area">
          <input type="password" name="pw" id="pw" 
          autocomplete="off" required> 
          <label for="pw">패스워드</label>
        </div>
        <div class="btn-area">
          <button id="btn1" type="submit">회원가입</button>
          <button id="btn" type="submit">로그인</button>
        </div>
      </from>
      <div class="caption">
        <a href="">아이디/패스워드 찾기</a>
      </div>
    </section>

</body>
</html>