<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>페이지 레이아웃</title>
    <link rel="stylesheet" href="stylesheets/myGrades.css">
</head>
<body>
    <div class="container">
        <nav>
            <h1>내 학점 비서</h1>
            <ul id="top-nav">
                <li id="selected-nav-list"><a href="#">내 학점 목록</a></li>
                <li><a href="#">내 친구 목록</a></li>
            </ul>
            <ul id="bottom-nav">
                <li><a href="#">회원 수정</a></li>
                <li><a href="#">로그아웃</a></li>
            </ul>
        </nav>
        <div class="content">
            <section id="my-score">
                <div class="content-title">
                    <div>
                        <button class="square-button" id="previous"><</button>
                        2023년도 2학기 성적
                        <button class="square-button" id="subsequent">></button>
                        <button class="square-button" id="add">+</button>
                    </div>
                    <div class="label">
                        <p>과목 코드</p>
                        <p>과목 명</p>
                        <p>학점</p>
                        <p>획득 등급</p>
                        <p>정보 수정</p>
                    </div>
                </div>
                <div class="content-body">
                    <% articles.forEach(function(article) { %>
                        <article>
                            <p><%= article.content %></p>
                            <p><%= article.content %></p>
                            <p><%= article.content %></p>
                            <p><%= article.content %></p>
                            <button class="edit-button">수정</button>
                        </article>
                    <% }); %>
                </div>
            </section>
            <section id="graduation-requirements">
                <div class="content-title">
                    졸업 요건
                    <div class="label">
                        <p>과목 코드</p>
                        <p>과목 명</p>
                        <p>학점</p>
                        <p>획득 등급</p>
                        <p>이수 상태</p>
                    </div>
                </div>
                <div class="content-body">
                    <article>lasldkfj</article>
                </div>
            </section>
        </div>
    </div>
</body>
</html>
