@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
ul, ol { list-style: none; }
a { text-decoration: none }

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
}

nav {
    width: 300px;
    background-color: #dee3eb;
    height: 100%;
    overflow-y: auto; /* 스크롤 가능하게 하려면 이 줄을 제거하세요 */
}
nav a {
    color: #15212c;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#selected-nav-list {
    background-color: #2b9ce1;
}
#selected-nav-list a {
    color: #f2fcfe;
}

nav ul {
    display: flex;
    flex-direction: column;
}
nav ul li {
    height: 50px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}
nav ul li:first-child {
    border-top: 1px solid #ccc;
}
nav h1 {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
}

.content {
    width: 100%;
    display: grid;
    padding: 5%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3fr 1fr;
    background-color: #f7f7f7;
}

section {
    /* border-bottom: 1px solid #ccc; */
    background-color: #ffffff;
    margin: 10px;
    overflow-y: scroll;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

article {
    padding: 12px 0px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}
article:nth-child(odd) {
    background-color: #edf3fe;
}
article > * {
    display: block;
}
article span {
    color: #1153f3;
}

.content-title {
    padding: 18px 0px;
    background-color: #f0ebed;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

.content-body > article > p {
    word-wrap: break-word;
    word-break: break-all;
}

.select-date {
    margin: 0px 10px;
}

.square-button {
    padding: 5px 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    cursor: pointer;
    margin: 0px 8px;
    transition: background-color 0.3s, box-shadow 0.3s;
}
.square-button:hover {
    background-color: #e0e0e0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.label {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* 일반적인 방법 */
}

.edit-button {
    padding: 5px 10px;
    margin: auto;
    border: 1px solid #aaa; /* 경계선 */
    border-radius: 10px; /* 둥근 모서리 */
    background-image: linear-gradient(to bottom, #fff, #eee); /* 그라데이션 배경 */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    text-align: center;
    color: #333; /* 텍스트 색상 */
    font-size: 12px; /* 텍스트 크기 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
    user-select: none; /* 텍스트 선택 방지 */
    width: 80px;
}

nav {
    position: relative;
}

#bottom-nav {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
#comprehensive-information {
    background-color: #000000; /* 배경색을 검은색으로 변경 */
    color: #00FF00; /* 글자색을 녹색으로 변경 */
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    border: 1px solid #00FF00;
    border-radius: 5px;
    padding: 10px;
}

#graduation-requirements {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

#my-score {
    grid-column: 1 / 1;
    grid-row: 1 / -1;
}

.filter {
    color: rgb(54, 54, 196);
    text-decoration: underline;
    cursor: pointer;
}

#score-date:hover {
    text-decoration: underline;
    cursor: pointer;
}