body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.sign-up-box {
    position: relative;
    width: 300px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sign-up-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.sign-up-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.sign-up-box button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button {
    position: absolute;
    top: -100px;
    right: 0px;
    background-color: #ccc;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* 크기 조정 */
}